#bulb{
    background-color: white;
    height: 531px;
    margin : auto;
    width: 354px;
}
body{
    padding-top: 50px;
}
#bg{
    width : 360px;
    height : auto;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid black;
}
.contain{
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
    margin : auto;
}
.btn{
    border : 1px solid black;
    padding : 10px;
    border-radius : 5px; 
    font-family: 'Courier New', Courier, monospace;
    transition : 1s;
}

.btn:hover{
 background-color: black;
 color: white;
}
